name = "dart"
entrypoint = "main.dart"
extensions = [
  "dart"
]
packages = [
  "dart=2.6.0-1"
]
aptKeys = [
  "6494C6D6997C215E"
]
aptRepos = [
  "deb [arch=amd64] https://storage.googleapis.com/download.dartlang.org/linux/debian stable main"
]
setup = [
  "ln -s /usr/lib/dart/bin/pub /usr/local/bin/pub",
]

[languageServer]
command = [
  "/usr/lib/dart/bin/dart",
  "/usr/lib/dart/bin/snapshots/analysis_server.dart.snapshot",
  "--lsp",
]

[run]
command = [
  "/usr/lib/dart/bin/dart",
  "./main.dart"
]

[tests]

  [tests.hello]
  code = "void main() { print('Hello, World!'); }"
  output = "Hello, World!\n"
