.circleci/**/*
.circleci
.git/**/*
.git
.gitignore
stamps/**/*
stamps
diffs/**/*
diffs
**/*.stamp
gen/node_modules/**/*
gen/node_modules
**/.mypy_cache/**/*
**/.mypy_cache
ignore/**/*
ignore
LICENSE
README.md
Makefile

# The contents of these files/directories are merged into the artifacts that go
# into out/
packages.txt
gen/**/*
gen
languages/**/*
languages
