version: 2.1
jobs:
  check_artifacts_freshness:
    docker:
      - image: docker:19.03
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.8
      - run: apk add --no-cache --no-progress make git npm curl
      - run: |
          # Make sure all of the artifacts are up-to-date.
          rm -rf out/*
          make out/Dockerfile
          if ! git diff --exit-code out/ ; then
            echo "There are changes to out/ that need to be checked in."
            exit 1
          fi
          DIFF="$(git status --porcelain out/)"
          if [[ -n "${DIFF}" ]]; then
            echo "\$ git status --porcelain out/"
            echo "${DIFF}"
            echo "There are changes to out/ that need to be checked in."
            exit 1
          fi
  build_and_test:
    docker:
      - image: docker:18.09
    steps:
      - checkout
      - setup_remote_docker:
          version: 18.09.3
      - run: apk add --no-cache --no-progress make git npm python3
      - run: make test
  build_and_test_ci:
    docker:
      - image: docker:18.09
    steps:
      - checkout
      - setup_remote_docker:
          version: 18.09.3
      - run: apk add --no-cache --no-progress make git npm python3
      - run: make test-ci
  build_and_test_changed:
    docker:
      - image: docker:18.09
    steps:
      - checkout
      - setup_remote_docker:
          version: 18.09.3
      - run: apk add --no-cache --no-progress make git npm python3
      - run: make changed-test
  build_test_and_deploy:
    docker:
      - image: docker:18.09
    steps:
      - checkout
      - setup_remote_docker:
          version: 18.09.3
      - run: apk add --no-cache --no-progress make git npm python3
      - run: make test
      - run: make test-ci
      - deploy:
          command: |
            echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin
            docker tag polygott:latest replco/polygott:latest
            docker push replco/polygott:latest
            docker tag polygott:latest "replco/polygott:${CIRCLE_SHA1}"
            docker push "replco/polygott:${CIRCLE_SHA1}"
            docker tag polygott-ci:latest replco/polygott-ci:latest
            docker push replco/polygott-ci:latest
            docker tag polygott-ci:latest "replco/polygott-ci:${CIRCLE_SHA1}"
            docker push "replco/polygott-ci:${CIRCLE_SHA1}"
workflows:
  ci:
    jobs:
      - check_artifacts_freshness:
          filters:
            branches:
              ignore: master
      - build_and_test:
          filters:
            branches:
              ignore: master
      - build_and_test_ci:
          filters:
            branches:
              ignore: master
      - build_and_test_changed:
          filters:
            branches:
              ignore: master
      - build_test_and_deploy:
          context: Docker Hub
          filters:
            branches:
              only:
                - master
