version: 2.1
jobs:
  build_and_test:
    docker:
      - image: docker:18.09
    steps:
      - checkout
      - setup_remote_docker
      - run: apk add --no-cache --no-progress make git
      - run: make test
  build_and_test_changed:
    docker:
      - image: docker:18.09
    steps:
      - checkout
      - setup_remote_docker
      - run: apk add --no-cache --no-progress make git
      - run: make changed-test
  deploy:
    docker:
      - image: docker:18.09
    steps:
      - checkout
      - setup_remote_docker
      - deploy:
          command: |
            echo "$DOCKER_PASSWORD" | docker login --username "$DOCKER_USERNAME" --password-stdin
            docker tag polygott:latest replco/polygott:latest
            docker push replco/polygott:latest
workflows:
  ci:
    jobs:
      - build_and_test:
          filters:
            branches:
              ignore: master
      - build_and_test_changed:
          filters:
            branches:
              ignore: master
      - deploy:
          context: Docker Hub
          requires:
            - build_and_test
          filters:
            branches:
              only:
                - master
                - sk-circleci
