name = "deno"
entrypoint = "index.ts"
extensions = [
  "ts"
]
packages = [
]
setup = [
  "curl -fsSL https://deno.land/x/install/install.sh | DENO_INSTALL=/usr sh -s v1.3.1",
  "npm i -g typescript-language-server@0.4.0 typescript@3.9.7"
]

[languageServer]
command = [
  "typescript-language-server",
  "--stdio"
]

[run]
command = [
  "deno",
  "run",
  "--lock=lock.json",
  "--lock-write",
  "--allow-all",
  "index.ts"
]

[tests]

  [tests.hello]
  code = "console.log(\"hello\")"
  output = "hello\n"

versionCommand = [
  "deno",
  "--version"
]
