name = "python3"
entrypoint = "main.py"
extensions = [
  "py"
]
aptRepos = [
  "ppa:deadsnakes/ppa"
]
packages = [
  "python3.8",
  "python3.8-dev",
  "python3.8-tk",
  "python3.8-venv",
  "libtk8.6",
  "libevent-dev",
  "gcc",
  "tk-dev"
]
popularity = 5.0
setup = [
  "ln -s /usr/bin/python3.8 /usr/local/bin/python3",
  "curl https://bootstrap.pypa.io/get-pip.py | python3",
  "pip3 install virtualenv-clone",
  "python3 -m venv --without-pip /opt/virtualenvs/python3",
  "curl https://bootstrap.pypa.io/get-pip.py | /opt/virtualenvs/python3/bin/python3",
  "/opt/virtualenvs/python3/bin/pip3 install --disable-pip-version-check pipreqs-amasad==0.4.10 pylint==1.6.4 jedi==0.13.2 mccabe==0.6.1 pycodestyle==2.4.0 pyflakes==2.1.1 python-language-server==0.21.5 rope==0.11.0 yapf==0.25.0 dephell==0.7.7 poetry==0.12.16",
  "/opt/virtualenvs/python3/bin/pip3 install poetry==0.12.16 bpython matplotlib nltk numpy ptpython requests scipy replit",
  "/opt/virtualenvs/python3/bin/pip3 install cs50",
  "/usr/bin/build-prybar-lang.sh python3",
]

[run]
command = [
  "python3",
  "-B",
  "main.py"
]

[languageServer]
command = [
  "pyls",
  "-v"
]

[tests]

  [tests.0]
  code = "print(__name__)"
  output = "__main__\n"

  [tests.hello]
  code = "print(\"hello\")"
  output = "hello\n"

  [tests.version]
  code = "import sys; print(sys.version.startswith('3.8'))"
  output = "True\n"

  [tests.venv]
  code = "import ensurepip; print(ensurepip.version())"
  output = "19.2.3\n"
