name = "sinatra"
entrypoint = "main.rb"
extensions = [
  "rb"
]
packages = [
  "build-essential"
]
setup = [
  "gem install --source http://rubygems.org rspec:3.5 stripe rufo sinatra",
  "gem install solargraph -v 0.23.0",
  "chown -R runner /usr/local/bundle"
]

[run]
command = [
  "ruby",
  "main.rb"
]

[tests]

  [tests.hello]
  code = "puts \"hello\""
  output = "hello\n"
