name = "swift"
entrypoint = "main.swift"
extensions = [
  "swift"
]
packages = [
  "libedit2",
  "python2.7-minimal",
  "libpython2.7",
  "libxml2",
  "clang",
  "libicu-dev"
]
setup = [
  "wget https://swift.org/builds/swift-5.0.1-release/ubuntu1804/swift-5.0.1-RELEASE/swift-5.0.1-RELEASE-ubuntu18.04.tar.gz",
  "wget https://swift.org/builds/swift-5.0.1-release/ubuntu1804/swift-5.0.1-RELEASE/swift-5.0.1-RELEASE-ubuntu18.04.tar.gz.sig",
  "gpg --keyserver hkp://ipv4.pool.sks-keyservers.net         --recv-keys          '7463 A81A 4B2E EA1B 551F  FBCF D441 C977 412B 37AD'          '1BE1 E29A 084C B305 F397  D62A 9F59 7F4D 21A5 6D5F'          'A3BA FD35 56A5 9079 C068  94BD 63BC 1CFE 91D3 06C6'          '5E4D F843 FB06 5D7F 7E24  FBA2 EF54 30F0 71E1 B235'          '8513 444E 2DA3 6B7C 1659  AF4D 7638 F1FB 2B2B 08C4' 'A62A E125 BBBF BB96 A6E0 42EC 925C C1CC ED3D 1561'",
  "gpg --keyserver hkp://ipv4.pool.sks-keyservers.net --refresh-keys",
  "gpg --verify swift-5.0.1-RELEASE-ubuntu18.04.tar.gz.sig || exit 1",
  "tar xzvf swift-5.0.1-RELEASE-ubuntu18.04.tar.gz --strip-components=1 -C /",
  "rm swift-5.0.1-RELEASE-ubuntu18.04.tar.gz",
  "rm swift-5.0.1-RELEASE-ubuntu18.04.tar.gz.sig",
  "chmod -R go+r /usr/lib/swift",
  "swift --version"
]

[compile]
command = [
  "swiftc",
  "-o",
  "main"
]

[run]
command = [
  "./main"
]

[tests]

  [tests.hello]
  code = "print(\"hello\")"
  output = "hello\n"
